@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; /* Prevents side-scrolling during animations */
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}